# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Uu]nityGenerated/
[Ll]ibrary/
[Bb]uild/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Assets/ShaderForge/
Assets/UnityVS/
Assets/UnityVS.meta
Assets/ShaderForge.meta
UnityVS.LudumDare30.sln.DotSettings
